.column
.question {
    font-weight: lighter;
    font-size: 24px;
    margin-top: 20%;
}

.column p {
    text-align: center;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    grid-template-rows: repeat(30px, 10px);
    gap: 5px; 
    place-items: center;
    margin-top: 50%;
}

@media (max-width: 650px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.question-button {
    width: 128px;
    height: 128px;
    margin-bottom: 6px;
}

.question-button img {
    width: 80px;
    height: 80px;
    border: none;
}

.relative {
    position: relative;
}

section {
    position: fixed;
    bottom: 0;
    background-color: var(--main);
    padding: 24px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    overflow-y: hidden;
}

section
.hint-title {
    font-weight: bold;
}

.slider-value {
    font-size: 96px;
    font-weight: bold;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 10%;
}

.slider-question {
    margin-left: 10%;
    margin-right: 10%;
}


.slidecontainer {
    
}
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 8px; /* Specified height */
    background: var(--back-button-main); /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 8px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background:  var(--main); /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 8px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: var(--main); /* Green background */
    cursor: pointer; 
    border: none;/* Cursor on hover */
  }

  .continue-button {
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 30px;
    padding: 10px;
  }

  .back-button {
    margin-left: 42%;
  }